body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

body {
  background-color:#e6e6ff;
  color: rgb(85, 85, 85);
}

.card {
  align-items: center;
  background-color: white;
}
.card-title {
  font-weight: bold;
}
.card img {
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

h1 {
  margin: 0;
}

.box {
  width: 800px;
  margin: 20px auto 20px auto;
  text-align: left;
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  align-items: flex-start;
  grid-gap: 30px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.14);
  border-radius: 2px;
}

.profile-photo {
  width: 222px;
  height: auto;
  border-radius: 2px;
}

.innerbox {
  padding: 20px 20px 20px 20px;
  flex: 1;
}
